@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding:0;
    font-family: "Roboto", sans-serif;
}
body{
    background-color: black;
    color:white;
}
.left{
    width:25vw;
    padding:10px;
}
.right{
    width:75vw;
}
.home ul li{
    display:flex;
    width:15px;
    list-style: none;
    gap: 15px;
    padding-top:14px;
    font-weight:bold;
}
.heading{
    display:flex;
    gap: 15px;
    align-items: center;
    font-size: 9px;
}
.library{
    min-height:76vh;
    position:relative;
}

.footer{
    display:flex;
    font-size: 10px;
    color:grey;
    gap:15px;
    position: absolute;
    bottom: 0;
}
.footer a{
    color:grey;
    text-decoration: none;
    padding: 34px 0;
}
.right{
    margin:16px 0;
}
.buttons{
    display:flex;
    justify-content: right;
    gap:10px;

}
.header{
    
    background-color: rgb(34,34,34);
}
.header *{
    padding: 10px;
}

.spotifyPlaylists{
    padding: 16px;
    margin-bottom: 5px;
}
.cardContainer{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin: 30px;
}

.card{
    position: relative;
    width: 200px;
    padding: 10px;
    border-radius: 5px;
    background-color: #252525;
}
.card > *{
    padding-top: 10px;
}
.card img{
    width: 100%;
    object-fit: contain;
}
.play{
    position: absolute;
    top: 164px;
    right: 16px;
    opacity: 1;
    transition: all 1s ease-out;
}