@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

body {
    background-color: black;
    color: white;
}

.left {
    width: 25vw;
    padding: 10px;
}

.right {
    width: 75vw;
}

.home ul li {
    display: flex;
    width: 15px;
    list-style: none;
    gap: 15px;
    padding-top: 14px;
    font-weight: bold;
}

.heading {
    display: flex;
    gap: 15px;
    align-items: center;
    font-size: 9px;
}

.library {
    min-height: 76vh;
    position: relative;
}

.footer {
    display: flex;
    font-size: 10px;
    color: grey;
    gap: 15px;
    position: absolute;
    bottom: 0;
    padding: 4px 0;
}

.footer a {
    color: grey;
    text-decoration: none;
}

.right {
    margin: 16px 0;
    position: relative;
}

.buttons {
    display: flex;
    justify-content: right;
    gap: 10px;

}

.header {
    background-color: rgb(34, 34, 34);
}

.header * {
    
    padding-top: 0px;
    padding: 5px;
    margin-bottom: 5px;
}
.h2{
    margin: 21px;
}

.spotifyPlaylists {
    padding: 16px;
    margin-bottom: 5px;
}

.cardContainer {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin: 30px;
    overflow-y: scroll;
    max-height: 45vh;
}

.card {
    position: relative;
    width: 200px;
    padding: 10px;
    border-radius: 5px;
    background-color: #252525;
}

.card>* {
    padding-top: 10px;
}

.card img {
    width: 100%;
    object-fit: contain;
}

.play {
    position: absolute;
    top: 164px;
    right: 16px;
    opacity: 1;
    transition: all 1s ease-out;
}

.signupbtn {
    font-style: bold;
    font-weight: bold;
    color: grey;
    border-radius: 26px;
    border: none;
    outline: none;
    background-color: rgb(34, 34, 34);
    cursor: pointer;
}

.signupbtn:hover {
    font-size: 15px;
    color: white;
    transition: all 60ms ease-in-out;
}

.loginbtn {
    padding: 15px;
    font-style: bold;
    font-weight: bold;
    color: black;
    border-radius: 40px;
    border: none;
    outline: none;
    width: 96px;
    cursor: pointer;
}

.loginbtn:hover {
    color:#252525;
    text-decoration: underline;
    font-size: 14px;
}

.installAppbtn {
    font-style: bold;
    font-weight: bold;
    color: grey;
    border-radius: 26px;
    border: none;
    outline: none;
    background-color: rgb(34, 34, 34);
    cursor: pointer;
}

.installAppbtn:hover {
    font-size: 15px;
    color: white;
    transition: all 60ms ease-in-out;
}

.downloadbtn {
    font-size: medium;
    font-style: bold;
    font-weight: bold;
    color: grey;
    border-radius: 26px;
    border: none;
    outline: none;
    background-color: rgb(34, 34, 34);
    cursor: pointer;
}

.downloadbtn:hover {
    color: white;
    transition: all 60ms ease-in-out;
}

.supportbtn {
    font-size: medium;
    font-style: bold;
    font-weight: bold;
    color: grey;
    border-radius: 26px;
    border: none;
    outline: none;
    background-color: rgb(34, 34, 34);
    cursor: pointer;
}

.supportbtn:hover {
    font-size: 1rem;
    color: white;
    transition: all 60ms ease-in-out;
}

.premiumbtn {
    font-size: medium;
    font-style: bold;
    font-weight: bold;
    color: grey;
    border-radius: 26px;
    border: none;
    outline: none;
    background-color: rgb(34, 34, 34);
    cursor: pointer;
}

.premiumbtn:hover {
    color: white;
    transition: all 60ms ease-in-out;
}

.playbar{
    position: fixed;
    bottom: 35px;
    filter: invert(1);
    background: #dad5d5;
    color:black;
    width: 97%;
    padding: 12px;
    width: 70vw;
    border-radius: 15px;
}
.songbuttons{
    display: flex;
    justify-content: center;
    gap: 16px;
}
.songlist{
    height: 435px;
    overflow: auto;
}
.hamburger{
    display: none;
}
.songlist ul{
    padding: 0 42px;
}
.songlist ul li{
    list-style-type: decimal;
    display: flex;
    gap: 10px;
    cursor: pointer;
    padding: 12px 0;
    border: 1px solid white;
    margin: 12px 0;
    padding: 13px; 
    border-radius: 5px;
    justify-content: space-between;
}

.info{
    font-size: 15px;
    width: 244px;
}
.playnow{
    display: flex;
    justify-content: center;
    align-items:center ;
}
.playnow span{
    font-size: 10px;
    width: 64px;
    padding: 12px;
}
.seekbar{
    height: 1px;
    width: 97%;
    position: absolute;
    bottom: 2px;
    background: black;
    border: 2px solid black;
    border-radius: 10px;
    margin: 4px;
    cursor: pointer;
}
.circle{
    width: 13px;
    height: 13px;
    border-radius: 13px;
    background: black;
    position: relative;
    top: -6px;
    left: 0%;
    bottom:8px;
    transition: left 0.5s;
}
.songbuttons img{
cursor: pointer;
}
.songtime, .songinfo{
    font-size: 14px;
    color:black;
    pad: 0 12px;
}

.abovebar{
    display: flex;
    justify-content: space-between;
}

@media (max-width: 1400px) {
  .left{
    background-color: red;
    position: absolute;
    left: -100%;
    transition: all 0.3s;
    z-index: 1;
    width: 233px;
  }
   .right{
    width: 100vw;
  }
  .playbar{
    width: 95vw;
  }
  .hamburger{
    display: block;
  }

}